.floating-radient-1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.12%,
    rgba(253, 156, 2, 0) 50.12%,
    #fd9c02 100%
  );
}

.floating-radient-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.11%,
    rgba(220, 34, 90, 0) 50.11%,
    #dc225a 100%
  );
}

.floating-radient-3 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.11%,
    rgba(35, 78, 255, 0) 50.11%,
    #234eff 100%
  );
}

.floating-radient-4 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.12%,
    rgba(43, 210, 104, 0) 50.12%,
    #2bd268 100%
  );
}

.floating-arrow-right {
  background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
